/docs/Manifest.toml
/docs/build/
Manifest.toml
to_do.md
src/formulations.md
/.vscode/*

########################################
#                macOS                 #
########################################

# General
*.DS_Store
